@charset "ISO-8859-1";

body {
      background-repeat: repeat;
      background-size: 100% 100%  ;
     }
  table{
      color: blue;
      border: 1px solid black;
      width: 70%;
   }
  .tableLogin,tr,th {
      color: blue;
      border: 1px solid black;
      background-color: #efefef;
      width: 20%;
   }
   tr {
      height: 35px;
      border: 1px solid black;
      text-align: left;
      background-color: #efefef;
      padding: 15px;
   }
   
   th {
       background-color: #4CAF50;
        color: white;
       border: 1px solid black;
       text-align: left;
   
       padding: 15px;
   }
   
   tr:nth-child(even) {background-color: #ffffff;}
   
   .imageProduct { 
    width:5%;
  height: auto;
    
    
   }
   .imageProduct1 { 
      width:15%;
      height: auto;
   }
   
 .navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}
.timeserver{
	text-color:white;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
#positionIndex{
  position: relative;
  left:100px;
  top: 150px;
  margin:50 px;
   
}

#positioncheckOrder{
  position: relative;
  left:100px;
  top: 100px;
  margin:20 px;
	
}
#positionContinueToPay{
  position: absolute;
  
  top: 230px;
 margin-left:800px;
 float: right;
	
}


#login{
	text-align: center;
  left:100px;
  top: 150px;
	
}
#login1{
 
  background-color:lightgrey;
   border: 1px solid black;
  height: 20%;
  width: 23%;
  left: 20%;
  top: 20%;
  margin: 20px;
}
#basketWord{
	
	text-color : black;
}

.tab {
margin-left: 40em;
padding-top:1em;
}

.imageProductInBasket {
  float: left;	
  width:9%;
  height: auto;
}
   <!-- background-image: url(http://localhost:8080/saleProductsebapp/resources/images/taylor.jpg);-->
   <!--background:url(https://img.purch.com/h/1400/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzEwMi85Mzkvb3JpZ2luYWwvY2FtcC1maXJlLWluZnJhcmVkLW5vdi04LmpwZw== ) no-repeat ;background-size: 100% 100% ;-->