@charset "ISO-8859-1";

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
<<<<<<< HEAD
	  background: #007bff;
      background: linear-gradient(to right, #0062E6, #33AEFF);
      background-repeat: no-repeat;
      background-size: cover;
      object fit: cover;
=======
	 background: transparent url("resources/images/unsplash.jpg") no-repeat;
     /* background-position: 0 50%;
      padding-left: 50px;*/
      /*background-repeat: repeat;*/
      background-size: 100% 100%  ;
>>>>>>> a2585c43c683def23cdf29edfa408fd8603da65a
     }

.heading {
	padding-top: 65px;
}
     
table{
      color: blue;
      border: 1px solid black;
      width: 70%;
   }
.tableLogin,tr,th {
      color: blue;
      border: 1px solid black;
      background-color: #efefef;
      width: 20%;
   }
   tr {
      height: 35px;
      border: 1px solid black;
      text-align: left;
      background-color: #efefef;
      padding: 15px;
   }
   
   th {
       background-color: #4CAF50;
        color: white;
       border: 1px solid black;
       text-align: left;
   
       padding: 15px;
   }
   
   tr:nth-child(even) {background-color: #ffffff;}
   
   .imageProduct { 
    width:5%;
  height: auto;
    
    
   }
   .imageProduct1 { 
      width:15%;
      height: auto;
   }
   
 .navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}
.timeserver{
	text-color:white;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

#positionIndex{
  position: relative;
  left:100px;
  top: 150px;
  margin:50 px;
   
}

#positioncheckOrder{
  position: relative;
  left:100px;
  top: 100px;
  margin:20 px;
	
}
#positionContinueToPay{
  position: absolute;
  
  top: 230px;
 margin-left:800px;
 float: right;
	
}

#login1{
 
  background-color:lightgrey;
   border: 1px solid black;
  height: 20%;
  width: 23%;
  left: 20%;
  top: 20%;
  margin: 20px;
}
#basketWord{
  text-color : black;
}

.tab {
margin-left: 40em;
padding-top:1em;
}

.imageProductInBasket {
  float: left;	
  width:9%;
  height: auto;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
  cursor: pointer;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
  cursor: pointer;
}

.form-label-group>input,
.form-label-group>label {
  padding: 1rem 24px;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-guest {
  color: white;
  background-color: #9e9e9e;
}

.btn-guest:hover {
  background-color: #919191;
}

.btn-guest-sp button {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.btn-guest-sp a:hover {
  text-decoration: none;
  color: white;
}

.btn-facebook:hover {
	color: white;
	background-color: #919191;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
.hr-text:before {
  content: "";
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}