@charset "ISO-8859-1";

body {
	
	
      background-repeat: no-repeat;
      background-size: 100% ;
	
		
     }
  color: black;
  background-color: #b9eefc;
   }
   
   
   <!-- background-image: url(http://localhost:8080/saleProductsebapp/resources/images/taylor.jpg);-->
   <!--background:url(https://img.purch.com/h/1400/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzEwMi85Mzkvb3JpZ2luYWwvY2FtcC1maXJlLWluZnJhcmVkLW5vdi04LmpwZw== ) no-repeat ;background-size: 100% 100% ;-->