<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
       
        <mapping class="com.mohamad.model.Account" />
        <mapping class="com.mohamad.model.Admin" />
        <mapping class="com.mohamad.model.Customer" />
        <mapping class="com.mohamad.model.Product" />
        <mapping class="com.mohamad.model.Log" />
        <mapping class="com.mohamad.model.Order" />
        <mapping class="com.mohamad.model.Basket" />
        <mapping class="com.mohamad.model.SaleFileUpload" />
         <mapping class="com.mohamad.model.CrunchifyEmailAPI" />  
       
     
    </session-factory>
</hibernate-configuration>